In [167]:
import pandas as pd

In [168]:
df = pd.read_csv("C:\\Users\\user\\Desktop\\기타\\data_iata\\noemo\\043295_IAT_noemo_2024-08-15_00h37.03.233.csv")

In [176]:
df_tra1 = df.iloc[20:52,111:114].reset_index(drop=True)
df_tra1.columns = ['keys1', 'corr1', 'rt1']
df_tra2 = df.iloc[53:85,111:114].reset_index(drop=True)
df_tra2.columns = ['keys2', 'corr2', 'rt2']
df_tra3 = df.iloc[86:150,[111,112,113,127]].reset_index(drop=True)
df_tra3.columns = ['keys3', 'corr3', 'rt3','opa']
df_tra3_emo = df_tra3[df_tra3['opa']==1]
df_tra4 = df.iloc[151:183,111:114].reset_index(drop=True)
df_tra4.columns = ['keys4', 'corr4', 'rt4']
df_tra5 = df.iloc[184:248,[111,112,113,127]].reset_index(drop=True)
df_tra5.columns = ['keys5', 'corr5', 'rt5','opa']
df_tra5_emo = df_tra5[df_tra5['opa']==1]

df_tra = pd.DataFrame({
    'ID': [df['participant'].iloc[0]],
    'corr1': [df_tra1['corr1'].mean()],
    'rt1': [df_tra1['rt1'].mean()],
    'corr2': [df_tra2['corr2'].mean()],
    'rt2': [df_tra2['rt2'].mean()],
    'corr3': [df_tra3['corr3'].mean()],
    'rt3': [df_tra3['rt3'].mean()],
    'corr4': [df_tra4['corr4'].mean()],
    'rt4': [df_tra4['rt4'].mean()],
    'corr5': [df_tra5['corr5'].mean()],
    'rt5': [df_tra5['rt5'].mean()],
    'corr3_emo': [df_tra3_emo['corr3'].mean()],
    'rt3_emo': [df_tra3_emo['rt3'].mean()],
    'corr5_emo': [df_tra5_emo['corr5'].mean()],
    'rt5_emo': [df_tra5_emo['rt5'].mean()]
})

In [177]:
df_tra

,ID,corr1,rt1,corr2,rt2,corr3,rt3,corr4,rt4,corr5,rt5,corr3_emo,rt3_emo,corr5_emo,rt5_emo
0,43295,1.0,0.994697,0.96875,0.954994,0.96875,0.914102,0.9375,0.741756,0.953125,0.981942,0.96875,0.938581,0.90625,1.108525

In [175]:
df_tra33 = df.iloc[86:150,[111,112,113,127]].reset_index(drop=True)
df_tra33_filt = df_tra33[df_tra33['opa']==1]
df_tra33_filt

   key_resp_14.keys  key_resp_14.corr  key_resp_14.rt  opa
1                 p               0.0          2.0581  1.0
4                 p               1.0          0.6527  1.0
6                 p               1.0          1.1431  1.0
7                 q               1.0          4.5159  1.0
8                 q               1.0          1.2498  1.0
10                p               1.0          0.9498  1.0
14                p               1.0          1.5003  1.0
16                q               1.0          0.6831  1.0
18                p               1.0          0.5328  1.0
19                p               1.0          0.6857  1.0
20                q               1.0          0.9001  1.0
21                p               1.0          0.9577  1.0
22                q               1.0          0.9001  1.0
24                q               1.0          0.6052  1.0
26                q               1.0          0.6665  1.0
31                p               1.0          0.4906  1.0
32                p               1.0          1.1512  1.0
35                q               1.0          1.5853  1.0
37                q               1.0          0.5841  1.0
38                q               1.0          0.7568  1.0
41                q               1.0          0.6531  1.0
47                q               1.0          0.5768  1.0
49                p               1.0          0.5006  1.0
50                q               1.0          0.4831  1.0
51                q               1.0          0.4734  1.0
52                p               1.0          0.4240  1.0
56                p               1.0          0.6414  1.0
57                p               1.0          0.9051  1.0
58                p               1.0          0.5375  1.0
59                p               1.0          0.5656  1.0
62                q               1.0          1.0166  1.0
63                p               1.0          0.6885  1.0

In [163]:
df_tra

,ID,corr1,rt1,corr2,rt2,corr3,rt3,corr4,rt4,corr5,rt5
0,43295,1.0,0.994697,0.96875,0.954994,0.96875,0.914102,0.9375,0.741756,0.953125,0.981942

In [183]:
import pandas as pd
import glob
import os

# 폴더 경로 설정
folder_path = "C:\\Users\\user\\Desktop\\기타\\data_iata\\second\\"

# 폴더 내 모든 CSV 파일 경로 목록 가져오기
file_paths = glob.glob(os.path.join(folder_path, "*.csv"))

# 최종 데이터를 저장할 리스트 초기화
df_tra_list = []

# 각 파일에 대해 데이터 처리
for file_path in file_paths:
    try:
        # 파일 읽기
        df = pd.read_csv(file_path)
        
        # 데이터가 충분히 있는지 확인 후 진행
        if df.shape[0] < 248 or df.shape[1] < 114:
            print(f"파일 {file_path}에 데이터가 부족하여 건너뜁니다.")
            continue
        
        # 각 구간에 대해 데이터프레임 생성 및 컬럼명 설정
        df_tra1 = df.iloc[20:52, 111:114].reset_index(drop=True)
        df_tra1.columns = ['keys1', 'corr1', 'rt1']
        
        df_tra2 = df.iloc[53:85, 111:114].reset_index(drop=True)
        df_tra2.columns = ['keys2', 'corr2', 'rt2']
        
        df_tra3 = df.iloc[86:150,[111,112,113,127]].reset_index(drop=True)
        df_tra3.columns = ['keys3', 'corr3', 'rt3','opa']
        df_tra3_emo = df_tra3[df_tra3['opa']==1]
        
        df_tra4 = df.iloc[151:183, 111:114].reset_index(drop=True)
        df_tra4.columns = ['keys4', 'corr4', 'rt4']
        
        df_tra5 = df.iloc[184:248,[111,112,113,127]].reset_index(drop=True)
        df_tra5.columns = ['keys5', 'corr5', 'rt5','opa']
        df_tra5_emo = df_tra5[df_tra5['opa']==1]

        survey1 = df.iloc[249:257,143:144].reset_index(drop=True)
        survey1.columns = ['sur1']

        survey2 = df.iloc[258:264,162:163].reset_index(drop=True)
        survey2.columns = ['sur2']
        
        # 각 파일에서 평균값을 계산하고, 새로운 행 생성
        df_tra_row = {
            'ID': df['participant'].iloc[0],
            'corr1': df_tra1['corr1'].mean(),
            'rt1': df_tra1['rt1'].mean(),
            'corr2': df_tra2['corr2'].mean(),
            'rt2': df_tra2['rt2'].mean(),
            'corr3': df_tra3['corr3'].mean(),
            'rt3': df_tra3['rt3'].mean(),
            'corr4': df_tra4['corr4'].mean(),
            'rt4': df_tra4['rt4'].mean(),
            'corr5': df_tra5['corr5'].mean(),
            'rt5': df_tra5['rt5'].mean(),
            'sur1':survey1['sur1'].mean(),
            'sur2':survey2['sur2'].mean(),
            'corr3_emo': df_tra3_emo['corr3'].mean(),
            'rt3_emo': df_tra3_emo['rt3'].mean(),
            'corr5_emo': df_tra5_emo['corr5'].mean(),
            'rt5_emo': df_tra5_emo['rt5'].mean()
        }
        
        # 리스트에 추가
        df_tra_list.append(df_tra_row)
    
    except ValueError as ve:
        print(f"파일 {file_path}에서 오류 발생: {ve}")
        continue

# 리스트를 데이터프레임으로 변환
df_nonemo = pd.DataFrame(df_tra_list)

# 결과 출력
df_nonemo

,ID,corr1,rt1,corr2,rt2,corr3,rt3,corr4,rt4,corr5,rt5,sur1,sur2,corr3_emo,rt3_emo,corr5_emo,rt5_emo
0,83182,1.00000,0.796553,1.00000,0.663444,0.968750,0.864866,0.96875,0.886400,0.859375,1.060533,1.125,1.000000,0.96875,0.955922,0.75000,1.057966
1,232742,0.87500,1.036081,0.93750,0.476575,0.968750,0.718736,0.96875,0.993906,0.984375,0.636531,3.375,3.500000,0.93750,0.677072,1.00000,0.682756
2,279500,0.96875,0.770416,0.96875,0.531144,0.968750,0.620937,0.96875,0.588459,0.968750,0.620106,3.250,3.166667,1.00000,0.621459,0.96875,0.647659
3,393309,1.00000,8.027487,0.96875,2.932003,0.984375,1.122950,0.96875,0.642584,0.953125,0.643302,3.500,3.500000,1.00000,1.638544,0.93750,0.656425
4,407701,0.65625,0.869369,0.93750,0.590241,0.968750,0.758628,0.96875,0.594413,0.937500,0.615441,2.500,2.000000,1.00000,0.921616,1.00000,0.618972
5,549104,0.93750,0.900609,0.93750,0.586697,0.921875,0.624583,0.96875,0.640069,0.921875,0.722777,3.750,3.000000,0.93750,0.676728,0.87500,0.812181
6,668484,0.96875,0.761131,0.87500,0.584772,0.968750,0.636525,0.96875,0.671813,0.937500,0.763587,2.000,2.166667,1.00000,0.729222,0.93750,0.816753
7,685322,0.96875,0.852959,0.96875,0.575288,0.953125,0.660619,1.00000,0.835366,0.968750,0.861194,1.500,1.000000,0.96875,0.699316,0.96875,0.990747
8,777607,0.93750,2.749606,1.00000,0.581941,0.953125,0.656620,1.00000,0.632869,1.000000,0.608152,3.375,3.500000,0.96875,0.606500,1.00000,0.640119
9,806577,0.96875,1.070591,0.96875,0.690716,0.921875,1.025075,0.90625,1.244431,0.921875,1.126675,3.125,3.333333,0.90625,1.036669,0.93750,1.421744
10,823848,0.96875,1.221803,0.93750,0.553150,0.968750,0.717325,1.00000,1.071725,0.968750,0.921830,2.375,1.000000,0.96875,0.869303,0.93750,1.141772
11,861914,1.00000,0.642259,0.96875,1.763350,0.968750,0.799787,0.96875,0.643425,0.953125,0.833598,3.625,3.666667,0.96875,0.758269,1.00000,0.774784
12,872267,0.81250,0.726675,0.90625,0.525116,0.921875,0.545991,0.84375,0.495628,0.843750,0.877186,3.250,4.000000,0.93750,0.564597,0.87500,0.827919
13,891969,0.96875,0.767284,0.96875,0.603231,0.953125,0.620156,0.96875,0.664781,0.921875,0.805931,2.500,2.833333,0.93750,0.709372,0.87500,0.977922

In [184]:
df_nonemo.to_excel("C:\\Users\\user\\Desktop\\기타\\data_iata\\second_data.xlsx")

In [145]:
survey1 = df.iloc[249:257,143:144].reset_index(drop=True)

In [146]:
survey2 = df.iloc[258:264,162:163].reset_index(drop=True)

In [148]:
survey1.columns = ['sur1']

In [149]:
survey1

   sur1
0   1.0
1   4.0
2   1.0
3   3.0
4   2.0
5   2.0
6   3.0
7   4.0